<ion-header>

  <ion-navbar class="navbar">
      <ion-grid>
       <ion-card-content>
          <ion-icon name="ios-arrow-round-back-outline" class="back"></ion-icon>
          <strong class="backk">PRODUCT</strong>
          <ion-icon name="md-cart" class="cart"></ion-icon>
          </ion-card-content>
        </ion-grid>
      </ion-navbar>
</ion-header>


<ion-content>
 <ion-slides class="slide-image">
    <ion-slide *ngFor="let slide of slides">
    <img src="assets/imgs/1.jpg">
    </ion-slide>
    <ion-slide>
       <img src="assets/imgs/4.jpg">
       </ion-slide>
       <ion-slide>
          <img src="assets/imgs/3.jpg">
          </ion-slide>
  </ion-slides>
  <ion-grid class="calll">
      <ion-icon name="ios-call-outline" class="call"></ion-icon>
  </ion-grid>
  <ion-grid>
      <ion-row>
        <ion-col col-12 >
         <p><strong>RIB EYE SYEAK</strong><br>CUT FROM THE RIB SECTION,THE RIB EYE STEAK IS ONE 
          OF THE MOST SUCCULENT STEAKS AND GUARANTEED TO SATISFY EVEN THE MOST DEDICATED CARNIVORE</p> 
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr>
    <ion-grid>
        <ion-row>
          <ion-col col-3 >
           <p><P>PRICE</P>
            <ion-row>
              <strong>$32</strong>
            </ion-row>
          </ion-col>
          <ion-col col-3 >
               <P>OUTLET</P>
               <ion-row>
                 <strong>CALIFORNI<BR>A STEAK<BR>HOUSE</strong>
               </ion-row>
             </ion-col>
             <ion-col col-3 >
                <P>ESTIMATED TIME</P>
                <ion-row>
                  <strong>20-30 MIN</strong>
                </ion-row>
              </ion-col>
              <ion-col col-3 >
                  <P>RATING</P>
                  <ion-row>
                      <ion-icon name="md-star" class="call" style="color: #FF6F00"></ion-icon>
                      <ion-icon name="md-star" class="call" style="color: #FF6F00"></ion-icon>
                  </ion-row>
                </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>


























