page-products {
    .toolbar-background-md{
        padding: 0px;
        margin: 0px;
        background:#FF6F00;
    }
      .slide-image {
        max-height: 50%;
        max-width: 100%;
        margin: 0px;
        padding: 0px 0px 0px;
      }
      .back{
         float:left;
         margin-top: 2px;
          margin-left: 3%;
          color: white;
          font-size: 35px;
          font-weight: 700;
      }
      .cart{
        float:right;
        margin-top: 5px;
         margin-right: 0%;
         color: white;
         font-size: 30px;
         font-weight: 500;
     }
      .backk{
        float:left;
        margin-left: 4%;
         color: white;
         font-size: 25px;
         font-weight: 200;
     }
    .call{
         margin-top: 3px;
         margin-left: 27%;
         width: 45px;
         font-size: 30px;
         font-weight: 700;
         border-radius: 100%;
         color: white;
    }
    .calll{
        background: orangered;
      
         margin-top: 5px;
         margin-left: 85%;
         width: 45px;
         font-size: 30px;
         font-weight: 700;
         border-radius: 100%;
         color: white;
    }
       
    }

